<%- include('../parts/html_head') %> 
<%- include('../parts/navbar') %> 

<div class="container">
<h2><%= totalPages %></h2>
</div>

<%- include('../parts/scripts') %>
<%- include('../parts/html_foot') %>